.main-navigation__menu-btn {
    width: 3rem;
    height: 3rem;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-right: 2rem;
    cursor: pointer;
}

.main-navigation__menu-btn span {
    display: block;
    width: 3rem;
    height: 2.5px;
    background: white;
}

.main-navigation__title {
    color: white;
}

.main-navigation__title a {
    text-decoration: none;
    color: white;
}

.main-navigation__header-nav {
    display: none;
}

.main-navigation__drawer-nav {
    height: 100%;
}

/* If the browser window is 768px or smaller, then apply the properties *
 */
@media (min-width: 768px) {
    /*display: none ; is commonly used with javascript to hide and show elements without deleting and recreating them.
     */
    .main-navigation__menu-btn {
        display: none;
    }
    /* display the nav links in block one after the other */
    .main-navigation__header-nav {
        display: block;
    }
}